form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: gray;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: fantasy;
    font-size: 60px;
  }
  
  label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  input[type=text],
  input[type=email],
  input[type=password] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #000000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  body{
    background-color: rgb(186, 184, 184);
  }
  @media screen and (max-width: 300px) {
    .cancelbtn {
       width: 100%;
    }
  }
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  .container {
    padding: 16px;
  }
  button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: unset;
    cursor: pointer;
    width: 100%;
  }
  button:hover {
    opacity: 0.8;
  }
  